body{
    background-color: #245730 !important;
    height: 100vh !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
}

/* LOGIN PAGE STYLING */

.login-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -3rem;
    width: 35%;
    height: 100%;
}

.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f2f2f2 !important;

    margin-bottom: 2rem;
}

.login-header__title--sub{
    padding: 0px;
    margin: 0px;

    font-size: 1.5rem;
    font-weight: 200;
}

.login-header__title{
    padding: 0px;
    margin: 0px;
    margin-top: -0.5rem;

    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
}

.login-forms__container{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #2f6840;

    padding: 2.5rem;
    padding-top: 1rem;
    border-radius: 25px;

    box-shadow: 10px 14px 32px -14px rgba(20, 20, 20, 0.52), -10px -14px 32px -14px rgba(20, 20, 20, 0.52);
}

.login-forms__textbox{
    width: 100%;
    height: 3rem;
    margin-top: 1.5rem;
    padding-left: 1rem;

    border-radius: 10px;
    outline: none;
    border: none;

    background-color: #47825d;

    color: #f2f2f2 !important;
    transition: 0.1s;
}

.login-forms__textbox::placeholder{
    color: #f2f2f29d !important;
}

.login-forms__textbox:hover{
    background-color: #459362;
}

.login-forms__textbox:focus{
    background-color: #459362;
    border-radius: 50px;

    padding-left: 2rem;
}

.login-err-msg{
    margin-top: 1rem;
    margin-left: 1rem;
    color: #ff1616;

    font-weight: 200;
    font-size: 0.9rem;

    align-self: flex-start;
}

.login-forms__btn{
    width: 40%;
    height: 2.5rem;

    margin-top: 1rem;
    border-radius: 50px;
    border: none;

    font-weight: 700;
    text-transform: uppercase;

    background-color: #e8e8e8;
}

/* DASHBOARD STYLING */

.dash-main{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    overflow: hidden;
    box-sizing: border-box;
}

/* DASH NAVBAR */

#logo{
    width: 50px;
}

.dash-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    box-shadow: 15px 15px 12px -14px rgba(20, 20, 20, 0.52) !important;
    color:#f2f2f2;

    z-index: 999;
    
}

.dash-nav__title{
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    font-weight: 200;
    margin: 0;
    margin-left: 2rem;
    padding: 0;
}

.dash-nav__links{
    position: static;

    display: flex;
    justify-content: space-between;

    width: 35rem;
    font-weight: 200;
    text-transform: uppercase;

}

.dash-nav__link{
    cursor: pointer;

    margin-left: 30rem;

    transition: 0.1s;

    color: white;

    text-decoration: none;
}

.dash-nav__link:hover{
    margin-top: -2px;
    border-bottom: 2px solid #e9e9e9;
    color: white;
}

.dash-body{
    display: flex;
    height: 100%;

    background-color: #f2f2f2;

    box-sizing: border-box;
    overflow: hidden;
}

.dash-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222324;
    width: 24rem;
    padding: 1rem;
    padding-top: 3rem;

    color:#f2f2f2;
    z-index: 1;
}

.dash-info__welcome{
    font-weight: 200;
    text-transform: uppercase;
    font-size: 2rem;
}

.dash-info__subinfo{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1rem;
}

.dash-info__sub2info{
    margin: 0;
    font-weight: 200;
    color: #cdcdcd;
}

.dash-info__sub2info:nth-child(1){
    margin: 0;
    font-size: 1.5rem;
    color: #f2f2f2;
}

.dash-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 5rem;
    padding-right: 8rem;
}

.dash-data__title{
    align-self: flex-start;
    font-size: 1.5rem;
}

.dash-data__table-cont{
    width: 100%;
    max-height: 18rem !important;
    outline: 1px solid #d2d2d2;
    border-radius: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.dash-data__table{
    width: 100%;
}

.dash-data__table--row{
    height: 3em;
    padding: 1.5rem 1rem !important;

    transition: 0.1s;
}

.dash-data__table--row:nth-child(2n+3){
    background-color: #e9e9e9;
}

.dash-data__table--data:nth-child(1){
    font-weight: 700;
}

.dash-data__table--row:hover{
    background-color: #98e9ae;
}

.dash-data__table--row:first-child:hover{
    background-color: #f2f2f2;
}


.dash-data__table--header, .dash-data__table--data{
    text-align: center;
    width: min-content;
}

.dash-data__table--data{
    font-size: 0.85rem;
}

/* BUTTON SELECT STYLING */
.dash__btn-select{
    /* width: 40%; */

    border-radius: 50%;
    border: none;

    font-weight: 700!important;

    top: 26em;
    bottom: 0.5em;
    left: 58.5rem; right: 0;
    text-align: center;
    margin-left: 2rem;
}

/* OVERLAYS */
.dash-borrow{
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: #222324af;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;
}

.dash-borrow__container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    border-radius: 15px;
    background-color: #222324;

    color: #f2f2f2;

    width: max-content;
    box-shadow: 10px 10px 30px -14px rgba(20, 20, 20, 0.52) !important;
}

.dash-borrow__title{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.borrow-forms__container{
    height: 100%;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

.borrow-forms__group{
    width: 100%;
    padding-bottom: 0.5rem;
}

.borrow-forms__label{
    font-size: 0.85rem;
    color: #cdcdcdc4;
    margin-bottom: 0.25rem;
}

.borrow-forms__textbox{
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;

    border-radius: 10px;
    outline: none;
    border: none;

    background-color: #37393a;

    color: #f2f2f2 !important;
    transition: 0.1s;
}

.borrow-forms__textbox::placeholder{
    color: #f2f2f29d !important;
}

.borrow-forms__textbox:hover{
    background-color: #4d5051;
}

.borrow-forms__textbox:focus{
    background-color: #4d5051;
    border-radius: 50px;

    padding-left: 2rem;
}

.borrow-forms__btn{
    width: 40%;
    height: 2.5rem;

    margin-top: 1.25rem;
    border-radius: 50px;
    border: none;

    font-weight: 700;
    text-transform: uppercase;

    background-color: #2bc162;
}


.dash-return{
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: #222324af;
    z-index: 99999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;
}

.dash-return__container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    border-radius: 15px;
    background-color: #222324;

    color: #f2f2f2;

    width: max-content;
    box-shadow: 10px 10px 30px -14px rgba(20, 20, 20, 0.52) !important;
}

.dash-return__title{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.return-forms__container{
    height: 100%;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

.return-forms__group{
    width: 100%;
    padding-bottom: 0.5rem;
}

.return-forms__label{
    font-size: 0.85rem;
    color: #cdcdcdc4;
    margin-bottom: 0.25rem;
}

.return-forms__textbox{
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;

    border-radius: 10px;
    outline: none;
    border: none;

    background-color: #37393a;

    color: #f2f2f2 !important;
    transition: 0.1s;
}

.return-forms__textbox::placeholder{
    color: #f2f2f29d !important;
}

.return-forms__textbox:hover{
    background-color: #4d5051;
}

.return-forms__textbox:focus{
    background-color: #4d5051;
    border-radius: 50px;

    padding-left: 2rem;
}

.return-forms__btn{
    width: 40%;
    height: 2.5rem;

    margin-top: 1.25rem;
    border-radius: 50px;
    border: none;

    font-weight: 700;
    text-transform: uppercase;

    background-color: #2bc162;
}
/* HIDDEN */
.hidden{
    display: none;
}

.borrow-book__btn {
    margin-top: 1rem;
    border-radius: 50px;
    border: 1px solid;
    text-transform: uppercase;
    padding: 7px;
    background-color: #e8e8e8;
    width: 100px;
}

.return-book__btn {
    margin-top: 1rem;
    border-radius: 50px;
    border: 1px solid;
    text-transform: uppercase;
    padding: 7px;
    background-color: #e8e8e8;
    width: 100px;
}

/* TOGGLE SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
