<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>AEA-IRC Dasboard</title>
  </head>
  <body>
    <div class="dash-main">

      <div class="dash-nav">
        <div style="display: flex; align-items: center;">
          <img id="logo" src="{{ url_for('static', filename='logo.png') }}" alt="">
          <h2 class="dash-nav__title">AEA-IRC E-Library</h2>
        </div>
        <section class="dash-nav__links">
          <!-- <p class="dash-nav__link">About AEA-IRC</p>
          <p class="dash-nav__link">Browse Books</p>
          <p class="dash-nav__link">Browse Research</p> -->
          <a class="dash-nav__link" href="/">LOG OUT</a>
        </section>
      </div>

      <div class="dash-body">
          <section class="dash-info">
            <h1 class="dash-info__welcome">Hello, {{name.split()[0]}}!</h1>
            <section class="dash-info__subinfo">
              <p class="dash-info__sub2info">{{name}}</p>
              <p class="dash-info__sub2info">{{course}}</p>
              <p class="dash-info__sub2info">{{college}}</p>
            </section>
          </section>

          <section class="dash-data">
            <h1 class="dash-data__title">Borrow Data</h1>
            <section class="dash-data__table-cont">
              <table class="dash-data__table">
                <tr class="dash-data__table--row">
                  <th class="dash-data__table--header">Borrow ID</th>
                  <th class="dash-data__table--header">Student No.</th>
                  <th class="dash-data__table--header">Book ISBN</th>
                  <th class="dash-data__table--header">Borrow Date</th>
                  <th class="dash-data__table--header">Due Date</th>
                  <th class="dash-data__table--header">Return Date</th>
                </tr>
                {% for row in data %}
                <tr class="dash-data__table--row">
                  {% for item in row %}
                  <td class="dash-data__table--data">{{item}}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </table>
            </section>

            <section class="dash--btn-select">
              <input class="borrow-book__btn" type="button" value="Borrow" name="Borrow Book" onclick="showBorrowScrn()">
              <input class="return-book__btn" type="button" value="Return" name="Return Book" onclick="showReturnScrn()">
            </section>
          </section>

          <section class="dash-borrow hidden">
            <div class="dash-borrow__container">
              <span class="dash-borrow__title">Borrow Book</span>
              <section>
                <form class="borrow-forms__container" action="/dashboard" method="POST">
                  <div class="borrow-forms__group">
                    <label class="borrow-forms__label" for="b-title">TITLE</label>
                    <input class="borrow-forms__textbox" type="text" name="b-title">
                  </div>

                  <div class="borrow-forms__group">
                    <label class="borrow-forms__label" for="b-isbn">ISBN</label>
                    <input class="borrow-forms__textbox" type="text" name="b-isbn">
                  </div>

                  <div class="borrow-forms__group">
                    <label class="borrow-forms__label" for="b-title">BORROW DATE</label>
                    <input class="borrow-forms__textbox" type="text" name="b-borrow">
                  </div>

                  <div class="borrow-forms__group">
                    <label class="borrow-forms__label" for="b-return">RETURN DATE</label>
                    <input class="borrow-forms__textbox" type="text" name="b-return">
                  </div>

                  <div class="borrow-forms__group">
                    <label class="borrow-forms__label" for="b-due">DUE DATE</label>
                    <input class="borrow-forms__textbox" type="text" name="b-due">
                  </div>
                  
                  <button class="borrow-forms__btn">SUBMIT</button>
                </form>
              </section>
            </div>
          </section>

          <section class="dash-return hidden">
            <div class="dash-return__container">
              <span class="dash-return__title">Return Book</span>
              <section>
                <form class="return-forms__container" action="/dashboard" method="POST">
                  <div class="return-forms__group">
                    <label class="return-forms__label" for="r-title">TITLE</label>
                    <input class="return-forms__textbox" type="text" name="r-title">
                  </div>

                  <div class="return-forms__group">
                    <label class="return-forms__label" for="r-isbn">ISBN</label>
                    <input class="return-forms__textbox" type="text" name="r-isbn">
                  </div>

                  <div class="return-forms__group">
                    <label class="return-forms__label" for="r-title">BORROW DATE</label>
                    <input class="return-forms__textbox" type="text" name="r-borrow">
                  </div>

                  <div class="return-forms__group">
                    <label class="return-forms__label" for="r-return">DUE DATE</label>
                    <input class="return-forms__textbox" type="text" name="r-return">
                  </div>

                  <div class="return-forms__group">
                    <label class="return-forms__label" for="r-due">RETURN DATE</label>
                    <input class="return-forms__textbox" type="text" name="r-due">
                  </div>
                  
                  <button class="return-forms__btn">SUBMIT</button>
                </form>
              </section>
            </div>
          </section>
        </div>
      </div>
      
  </body>
  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</html>