<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>AEA-IRC Dasboard</title>
  </head>
  <body>
    <div class="dash-main">

      <div class="dash-nav">
        <div style="display: flex; align-items: center;">
          <img id="logo" src="{{ url_for('static', filename='logo.png') }}" alt="">
          <h2 class="dash-nav__title">AEA-IRC E-Library</h2>
        </div>
        <section class="dash-nav__links">
          <a class="dash-nav__link" href="/">LOG OUT</a>
        </section>
      </div>

      <div class="dash-body">
          <section class="dash-info">
            <h1 class="dash-info__welcome">Hello, {{name.split()[0]}}!</h1>
            <section class="dash-info__subinfo">
              <p class="dash-info__sub2info">{{name}}</p>
              <p class="dash-info__sub2info">{{course}}</p>
              <p class="dash-info__sub2info">{{college}}</p>
            </section>
          </section>

          <section class="dash-data">
            <h1 class="dash-data__title">Borrow Data</h1>
            <section class="dash-data__table-cont">
              <table class="dash-data__table">
                <tr class="dash-data__table--row">
                  <th class="dash-data__table--header">Borrow ID</th>
                  <th class="dash-data__table--header">Student No.</th>
                  <th class="dash-data__table--header">Book ISBN</th>
                  <th class="dash-data__table--header">Borrow Date</th>
                  <th class="dash-data__table--header">Due Date</th>
                  <th class="dash-data__table--header">Return Date</th>
                </tr>
                {% for row in data %}
                <tr class="dash-data__table--row">
                  {% for item in row %}
                  <td class="dash-data__table--data">{{item}}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </table>
            </section>
            <br>
            {% for duebook in due%}
            <p style="color:red">Book Due: {{duebook[0]}}. Please return by {{duebook[4]}}</p>
            {% endfor %}

            <section class="dash--btn-select">
              <input class="borrow-book__btn" type="button" value="Scan" name="Scan" onclick=" location.href = '/scan'">
              <!-- <input class="return-book__btn" type="button" value="Return" name="Return Book" onclick="showReturnScrn()"> -->
            </section>
          </section>

          {% if scandata != [] %}
          <section class="dash-borrow">
            <form action="/dashboard" method="POST">
            <div class="dash-borrow__container">
              <span class="dash-borrow__title">Scanned Book</span>
              <section>
                <form class="borrow-forms__container" action="/dashboard" method="POST">
                  <div class="borrow-forms__group">
                    <label class="borrow-forms__label" for="b-title">TITLE</label>
                    <input class="borrow-forms__textbox" style="color: grey !important;" type="text" name="b-title" value="{{ scandata[1] }}">
                  </div>

                  <div class="borrow-forms__group">
                    <label class="borrow-forms__label" for="b-isbn">ISBN</label>
                    <input class="borrow-forms__textbox" style="color: grey !important;" type="text" name="b-isbn" value="{{ scandata[0] }}">
                  </div>

                  {% if returnable_book == [] %}
                  <div class="borrow-forms__group" style="display:flex; flex-direction:row; justify-content: center;">
                    <div>
                      <input class="borrow-forms__radio" type="radio" name="b-check" value="b-check1" checked >
                      <label for="b-check">Borrowing</label>
                    </div>
                    <span style="width:30px"></span>
                    <div>
                      <input class="borrow-forms__radio" type="radio" name="b-check" value="b-check2" >
                      <label for="b-check">Returning</label>
                    </div>
                  </div>
                  {% else %}
                  <div class="borrow-forms__group" style="display:flex; flex-direction:row; justify-content: center;">
                    <div>
                      <input class="borrow-forms__radio" type="radio" name="b-check" value="b-check1" >
                      <label for="b-check">Borrowing</label>
                    </div>
                    <span style="width:30px"></span>
                    <div>
                      <input class="borrow-forms__radio" type="radio" name="b-check" value="b-check2" checked >
                      <label for="b-check">Returning</label>
                    </div>
                  </div>
                  {% endif %}
                  <br>

                  {% if returnable_book == [] %}
                  <div class="borrow-forms__group" id="borrowbox-b" style="display:block">
                    <label class="borrow-forms__label" for="b-title">BORROW DATE</label>
                    <input class="borrow-forms__textbox" style="color: grey !important;" type="text" name="b-borrow" value="{{ scandata[2] }}" >
                  </div>
                  <div class="borrow-forms__group">
                    <label class="borrow-forms__label" for="b-due">DUE DATE</label>
                    <input class="borrow-forms__textbox" style="color: grey !important;" type="text" name="b-due" value="{{ scandata[3] }}" >
                  </div>
                  {% else %}
                  <div class="borrow-forms__group" id="borrowbox-r" style="display:block">
                    <label class="borrow-forms__label" for="b-title">BORROW ID</label>
                    <input class="borrow-forms__textbox" style="color: grey !important;" type="text" name="b-id" value="{{ returnable_book[0] }}" >
                  </div>
                  <div class="borrow-forms__group" id="borrowbox-r" style="display:block">
                    <label class="borrow-forms__label" for="b-title">BORROW DATE</label>
                    <input class="borrow-forms__textbox" style="color: grey !important;" type="text" name="b-borrow" value="{{ returnable_book[3] }}" >
                  </div>
                  <div class="borrow-forms__group">
                    <label class="borrow-forms__label" for="b-due">DUE DATE</label>
                    <input class="borrow-forms__textbox" style="color: grey !important;" type="text" name="b-due" value="{{ returnable_book[4] }}" >
                  </div>
                  <div class="borrow-forms__group" id="returnbox">
                    <label class="borrow-forms__label" for="b-return">RETURN DATE</label>
                    <input class="borrow-forms__textbox" style="color: grey !important;" type="text" name="b-return" value="{{ scandata[2] }}" >
                  </div>
                  {% endif %}
                  
                  <input class="borrow-forms__btn" type="submit" value="Submit" name="update">
                </form>
              </section>
            </div>
            </form>
          </section>
          {% endif %}

        </div>
      </div>
      
  </body>
  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</html>